---
layout: home
title: home
---

<div class="intro">
    <section>
        <h1>{{ "Salut !" | capitalize }}</h1>
        <p>
            Holisticly repurpose prospective potentialities through front-end infrastructures.
            Authoritatively synthesize intuitive initiatives vis-a-vis client-focused core competencies.
            Monotonectally expedite stand-alone human capital vis-a-vis diverse scenarios.
        </p>
    </section>

    <section>
        {% include navigation-home.html %}
    </section>
</div>

{% include navigation-links.html %}
