---
title: Lauren Ceccotti • UX-UI Designer
ref: home
layout: home
description: UX-UI Designer. Associate original artistic vision with smart ergonomy, build immersive user experiences and inspiring interactions design.

---

<div class="intro">
    <section>
        <h1>{{ "salut !" | capitalize }}</h1>
        <p>
          My name is Lauren, I'm a Designer and I live in Paris.
          <br>I've been working on web projects since 2011 both as a Designer and UI Developer.
          <span class="no-mobile">
              <br>I like to associate an original artistic vision to smart ergonomy, and build immersive user experiences with inspiring interactions design.
          </span>
          <br>Here's my journey and a selection of my work.
        </p>
    </section>

    <section>
        {% include navigation-home.html %}
    </section>
</div>

{% include navigation-links.html %}
