---
title: Lauren Ceccotti • UI-UX Designer
ref: home
layout: home
description: UI-UX Designer since 2011, I associate original artistic vision to a smart ergonomy, building immersive user experiences and inspiring interaction design.
---

<div class="intro">
    <section>
        <h1>{{ "salut !" | capitalize }}</h1>
        <p>
            My name is Lauren, I'm UI designer and I live in Paris.
            <br>I've been working on web projects since 2011 as a Designer as well as a Frontend Developper.
            <span class="no-mobile">
                <br>One of my main motivations is associating an original artistic vision
                to a smart ergonomy, building immersive user experiences and inspiring interaction design.
            </span>
            <br>Here's my journey and a selection of my works.
        </p>
    </section>

    <section>
        {% include navigation-home.html %}
    </section>
</div>

{% include navigation-links.html %}
