---
title: projects
---
<article>
    <p>
        framework de composants css et directives angular - 2 themes differenciés selon les ages - 5 personas
        partenaires cgi - atos - The coding machine - supervision de la qualité des entrants graphques
    </p>
</article>


<section>
    <article class="">

        <div class="card-grid">

            {% assign sorted_projects = site.projects | sort:"weight" %}

            {% assign j = 1  %}

                {% for project in sorted_projects %}

                    {% if j == 1 %}
                    <div class="row">
                    {% endif %}
                        <a class="card" href="{{ project.url }}">
                            <div class="card-content">
                                <div class="image-filter"></div>
                                <img src="{{site.data.paths.pj-pic}}{{ project.name }}/{{ project.cover }}" alt="">
                                <div class="card-desc">
                                    <h3>{{ project.title }}</h3>
                                    <label>{{ project.type }}</label>
                                    <!-- <p>{{ project.content | markdownify | truncate: 20 }}</p> -->
                                </div>
                            </div>
                        </a>

                    {% if j == 3 %}
                        </div> <!-- close row full -->
                        {% assign j = 0 %}
                    {% endif %}

                    {% assign j = j | plus:1 %}
                {% endfor %}

                {% if j > 1 %}
                    </div> <!-- close row < 3 -->
                {% endif %}
        </div> <!-- close grid -->




    </article>
</section>
