---
title: Skills
ref: skills
description: Modern and smart Design. Build a consistent system. Define product visual identity. Ensure consistency. Open Source projects.
---
<article>
    <p>
      I'm used to being confronted in both complex and creative environments.
        <br>
        <br>The products I work on must allow users to switch between multiple themes,
        designed according to their ages, abilities, and profiles. Beside making applications simple,
        easy-to-use and visually appealing, I especially pay attention to the consistency of the multiple
        aspects of a same product, whether it's about the user experience or expressing the brand identity
        through strong ideas.
        <br>
        <br>
        I used to maintain and extend a CSS framework, build smart components and ensure a consistent architecture.
        <br>More than a technical challenge, I considered this experience as a Design mission to provide an efficient
        tool for developers. Several partners (Atos, CGI, The Coding Machine...) contribute and use these Open Source
        projects.
        <br>Hence I give specific attention in always providing clear and up to date documentation,
        in addition to giving constructive feedback in both code and design review.
        <br>
        <br>You can get more information about my professional experiences by
        <a href="/assets/download/cv.pdf" target="_blank">downloading my resume,</a>
        and if you are curious about the contexts in which I used my skills, let's have a look at
        <a href="/projects.html" class="site-link" data-name="projects">the projects page.</a>
    </p>
</article>


<article class="skills-list">

    <div class="align- x-fs y-c">
        <figure class="know" target="_blank">
            <img class="know" src="{{site.data.paths.icons}}know.svg" alt="">
        </figure>
        <h4>Skills</h4>
    </div>
    <ul>
        <li>
            <label>GUI/HMI Design & Prototyping</label>
            {% include stars/five.html %}
        </li>
        <li>
            <label>Responsive Design - Mobile first</label>
            {% include stars/four-h.html %}
        </li>
        <li>
            <label>Interaction Design</label>
            {% include stars/four-h.html %}
        </li>
        <li>
            <label>Project managment</label>
            {% include stars/four.html %}
        </li>
        <li>
            <label>UI development</label>
            {% include stars/four.html %}
        </li>
        <li>
            <label>Vector Graphic Design</label>
            {% include stars/four.html %}
        </li>
    </ul>
</article>



<article class="skills-list">

    <div class="align- x-fs y-c">
        <figure class="tech" target="_blank">
            <img class="tech" src="{{site.data.paths.icons}}tech.svg" alt="">
        </figure>
        <h4>Technologies</h4>
    </div>

    <ul>
        <li>
            <label>HTML5, CSS3 - SASS</label>
            {% include stars/five.html %}
        </li>
        <li>
            <label>JS - jQuery, Angular, GreenSock</label>
            {% include stars/three-h.html %}
        </li>
        <li>
            <label>Git, Gulp</label>
            {% include stars/three.html %}
        </li>
        <li>
            <label>Drupal 7 & 8</label>
            {% include stars/three-h.html %}
        </li>
    </ul>
</article>



<article class="skills-list">
    <div class="align- x-fs y-c">
        <figure class="tools" target="_blank">
            <img class="tools" src="{{site.data.paths.icons}}tools.svg" alt="">
        </figure>
        <h4>Tools</h4>
    </div>
    <ul>
        <li>
            <label>Figma, AdobeXD, Moqups</label>
            {% include stars/five.html %}
        </li>
        <li>
            <label>Confluence</label>
            {% include stars/three-h.html %}
        </li>
        <li>
            <label>Jira, Redmine</label>
            {% include stars/three-h.html %}
        </li>
        <li>
            <label>Illustrator, Photoshop</label>
            {% include stars/four.html %}
        </li>
    </ul>
</article>
