---
title: skills
---
<article>
    <p>
        I'm used to evolve in complex environements, requiring differential interfaces for a same product.
        I took part in an educational portal conception, allowing users to switch between multiple themes,
        designed according their ages, abilities, or profiles.
        <br>
        I maintained and made grow an AngularJS directives and CSS componants framework.
        Designing a tool targeting developers as users was one of my favourite experiences.
        This also involved reviewing design, ergonomy and code quality on many partners
        contributons (Atos, CGI, The Coding Machine...) on multiple Open Source projects.
        <br>
        <br>
        Ensure products visual identity consistency allowed me to work with graphics designers,
        helping them to deliver the rightest material, both on technical quality or visual design.
        <br>
        <br>
        You can get more informations about my professionnal experiences
        <a href="/assets/download/cv.pdf" target="_blank">downloading my resume,</a>
        and if you are curious about the contexts in which i used my skills, let's have a look on
        <a href="/projects.html" class="site-link" data-name="projects">the projects page !</a>
    </p>
</article>


<article class="skills-list">

    <div class="align- x-fs y-c">
        <figure class="know" target="_blank">
            <img class="know" src="{{site.data.paths.icons}}know.svg" alt="">
        </figure>
        <h4>Knowledges</h4>
    </div>
    <ul>
        <li>
            <label>HMI Design</label>
            {% include stars/four-h.html %}
        </li>
        <li>
            <label>Responsive - Mobile first</label>
            {% include stars/four-h.html %}
        </li>
        <li>
            <label>Wireframing</label>
            {% include stars/four.html %}
        </li>
        <li>
            <label>Interactive Protoryping</label>
            {% include stars/four-h.html %}
        </li>
        <li>
            <label>Interaction Design</label>
            {% include stars/four.html %}
        </li>
        <li>
            <label>Frontend Development</label>
            {% include stars/four.html %}
        </li>
        <li>
            <label>Vector Graphics</label>
            {% include stars/three-h.html %}
        </li>
    </ul>
</article>



<article class="skills-list">

    <div class="align- x-fs y-c">
        <figure class="tech" target="_blank">
            <img class="tech" src="{{site.data.paths.icons}}tech.svg" alt="">
        </figure>
        <h4>Technologies</h4>
    </div>

    <ul>
        <li>
            <label>HTML5 - SASS</label>
            {% include stars/five.html %}
        </li>
        <li>
            <label>JS - jQuery - Angular - GreenSock</label>
            {% include stars/three-h.html %}
        </li>
        <li>
            <label>Git - Gulp</label>
            {% include stars/three.html %}
        </li>
        <li>
            <label>Php - MySql</label>
            {% include stars/two-h.html %}
        </li>
        <li>
            <label>Drupal 7 - 8</label>
            {% include stars/three.html %}
        </li>
    </ul>
</article>



<article class="skills-list">
    <div class="align- x-fs y-c">
        <figure class="tools" target="_blank">
            <img class="tools" src="{{site.data.paths.icons}}tools.svg" alt="">
        </figure>
        <h4>Tools</h4>
    </div>
    <ul>
        <li>
            <label>Sketch - AdobeXD - Moqups</label>
            {% include stars/five.html %}
        </li>
        <li>
            <label>InVision</label>
            {% include stars/three.html %}
        </li>
        <li>
            <label>Illustrator</label>
            {% include stars/four.html %}
        </li>
        <li>
            <label>Photoshop, InDesign</label>
            {% include stars/four.html %}
        </li>
    </ul>
</article>
