<div class="cv-page">

    <div class="expe">

        <h3>
            <img src="{{site.data.paths.icons}}expe.svg" alt="expe">
            Experiences
        </h3>

        <h4>
            <img src="{{site.data.paths.icons}}losange-l.svg" alt="losange-l">
            Open Digital Education / 2015 - 2018
        </h4>
        <h5>
             UI Designer - Frontend Developper
        </h5>

        <ul class="small-list">
            <li>
                Conception et design des IHM pour un portail d’applications web destinées à l’éducation
            </li>
            <li>
                Design d’interaction et implémentation
            </li>
            <li>
                Référente sur le design et l'implémentation front des composants d’interfaces (en interne et auprès des équipes partenaires : CGI, ATOS...)
            </li>
            <li>
                Prise en compte des retours utilisateurs dans le périmètre des chantiers
            </li>
            <li>
                Portage d’applications existantes en responsive (design et développement)
            </li>
            <li>
                Prototypage web interactif
            </li>
            <li>
                Développement front de composants UI
            </li>
            <li>
                Évolutions et maintenance des Frameworks CSS et JS internes
            </li>
            <li>
                Création d'entrants graphiques et print
            </li>
            <li>
                Design et développement front de sites vitrines (Headless Drupal 8)
            </li>
            <li>
                Clients : Île-de-France | Ville de Paris | Hauts-de-France | Nouvelle Aquitaine | Seine et Marne | Guadeloupe | Martinique | Réunion | Nouvelle Calédonie …
            </li>
        </ul>

        <h4>
            <img src="{{site.data.paths.icons}}losange-l.svg" alt="losange-l">
            Ici La Lune / 2013 - 2014
        </h4>
        <h5>
             Webdesigner - Frontend Developper
        </h5>
        <ul class="small-list">
            <li>
                Développement front de sites clients
            </li>
            <li>
                Theming Drupal 7
            </li>
            <li>
                Design d'interfaces full responsive et portage de sites existants en responsive
            </li>
            <li>
                Prototypage interactif HTML/CSS
            </li>
            <li>
                Graphic design - web & print
            </li>
            <li>
                Clients : Bulgari | Chopard | Patrick Roger | Fédération Française d’Athlétisme | Jean-Marie Massaud …
            </li>
        </ul>



        <h4>
            <img src="{{site.data.paths.icons}}losange-l.svg" alt="losange-l">
            Freelance / 2011 - 2012 // 2015 // 2018
        </h4>
        <h5>
             Designer - Website Developper
        </h5>
        <ul class="small-list">
            <li>
                Design et développement de sites clef en main avec CMS (Drupal 7)
            </li>
            <li>
                Design d’interaction et implémentation
            </li>
            <li>
                Prototypage HTML - CSS et design graphique
            </li>
        </ul>


    </div>

    <div class="educ">
        <h3>
            <img src="{{site.data.paths.icons}}educ.svg" alt="educ">
            Education
        </h3>
        <ul class="big-list">
            <li>
                2012 - Diplôme niveau II (Bachelor's Degree similar)
                <br>Développeur Intégrateur Web IFOCOP, Paris XI°
            </li>
            <li>
                2010 - DNSEP avec Mention, (Bac + 5 - Art Master's Degree with honors)
                <br>École Supérieure des Beaux Arts Montpellier
            </li>
            <li>
                2008 - DNAP (Bac + 3 - Art Bachelor's Degree)
                <br>École Supérieure des Beaux Arts Montpellier
            </li>
            <li>
                2003 - Bac L, Mention Bien (with honors)
                <br>Lycée Albert Ier, Monaco
            </li>
        </ul>
    </div>


</div>
