
.card-grid {
    margin: 60px auto;
    max-width: 950px;
    // margin-left: -#{$card-padding};
    // width: calc( 100% + #{$card-padding} * 2);
}


.row{
    overflow: hidden;
    clear: both;
    position: relative;
    padding: $card-padding;
    margin-top: calc( 4% - #{$card-padding * 2});
    height: 357px;
    display: flex;
    justify-content: space-between;
}


.row:nth-child(odd){
    //small-card
    .card{
        float: right;
    }
    //last small-card
    .card:last-child{
        position: absolute;
        right: $card-padding;
        bottom: $card-padding;
        width: calc( 48% - #{$card-padding});
    }
    //big-card
    .card:first-child{
        float: left;
        @include big-card;
    }
}


.row:nth-child(even){
    //small-card
    .card{
        float: left;
    }
    //last small-card
    .card:last-child{
        position: absolute;
        left: $card-padding;
        bottom: $card-padding;
        width: calc( 48% - #{$card-padding});
    }
    //big-card
    .card:first-child{
        float: right;
        @include big-card;
    }
}



//small-card > all cards
.card {
    @include small-card;

    h3{
        padding-top: 10px;
        padding-left: 15px;
        font-family: futura-pt, sans-serif;
        font-size: 18px;
        letter-spacing: 4px;
        line-height: 25px;
        text-align: left;
    }
    label{
        position: absolute;
        bottom: 12px;
        right: 15px;
        font-family: futura-pt, sans-serif;
        font-size: 13px;
        letter-spacing: 2px;
        text-align: right;
        line-height: 14px;
        padding-left: 10px;
    }
    &:hover{
        box-shadow: 3px 3px 6px 1px rgba(black, 0.25);
        color: darken($turquoise, 35);
    }
}
.card-content {
    @include small-card-content;
}


@media all and (max-width: $small-tablet){

    body{

        .row:nth-child(even), .row:nth-child(odd){
            padding: 0;
            overflow: visible;
            margin: 0 auto;
            height: auto;
            .card{
                float: none!important;
                position: relative!important;
                width: 100%!important;
                top: auto!important;
                bottom: auto!important;
                left: auto!important;
                right: auto!important;
                margin-bottom: 40px;

                &:after {
                    padding-bottom: 35%!important;
                }
                .card-content{
                    img, .image-filter{
                        width: 40%!important;
                        height: 100%!important;
                    }
                    .card-desc{
                        top: 0!important;
                        left: 40%!important;
                        width: 60%!important;
                        height: 100%!important;
                    }
                }
                label{
                    bottom: 20px;
                    right: 25px;
                }
            }

        }
    }
}




@media all and (max-width: $mobile){

    body{

        .row:nth-child(even) .card:after,
        .row:nth-child(odd) .card:after{
            padding-bottom: 45%!important;
        }

        .card{
            h3{
                padding-top: 2px;
                padding-left: 5px;
                font-size: 14px;
                letter-spacing: 3px;
                line-height: 20px;
            }
            .card-content{
                .card-desc{
                    padding: 17px 12px;
                }
            }
            label{
                bottom: 13px;
                right: 15px;
                font-size: 12px;
                letter-spacing: 2px;
            }
        }
    }
}
