
////  ATTENTION MOBILE FIRST
////  0 to 809


.card-grid {
    margin: 60px auto;
    max-width: 950px;
}

.card {
    @include card;
    height: 357px;
    width: 100%;
    margin-bottom: 30px;

    h3{
        padding-top: 10px;
        padding-left: 15px;
        font-family: futura-pt, sans-serif;
        font-size: 18px;
        letter-spacing: 4px;
        line-height: 25px;
        text-align: left;
    }
    label{
        position: absolute;
        bottom: 12px;
        right: 15px;
        font-family: futura-pt, sans-serif;
        font-size: 13px;
        letter-spacing: 2px;
        text-align: right;
        line-height: 14px;
        padding-left: 10px;
    }
    &:hover{
        box-shadow: 3px 3px 6px 1px rgba(black, 0.25);
        color: darken($turquoise, 35);
        .image-filter{
            background: rgba($turquoise, 0.1);
        }
    }
}
.card-content {
    @include card-content;
}



@media all and (min-width: 810px){

    body{
        .card-grid{
            .row{
                // padding: $card-padding;
                // margin-top: calc( 4% - #{$card-padding * 2});
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            .card{
                &:nth-child(2), &:nth-child(3){
                    width: 48%;
                }
            }
            a.card.small-card{
                width: 48%;
            }
        }
    }
}
