body{
    background-repeat: no-repeat;
    background-attachment: fixed;

    &.home{
        // background-size: 100% 100%;
        // background-position: 0% 30%;
        background-image: linear-gradient(to bottom, #994AFC, #64E1E7, #DAF100, #EC4056);
    }
    &.projects, &.project{
        // background-size: 100% 250%;
        // background-position: 0 70%;
        background-image: linear-gradient(#64E1E7, #74B1ED, #8580F4, #994AFC);
        .losange, .fancy-line{
            background: $turquoise;
        }
        // a:hover, a.current{
        //     color: darken($turquoise, $dark);
        // }

        section{
            background: rgba($turquoise, 0.05);
        }
    }
    &.skills{
        background-image: linear-gradient(#994AFC, #B446C4, #D0438D, #EC4056);
        .losange, .fancy-line{
            background: $purple;
        }
        // a:hover, a.current{
        //     color: darken($purple, $dark);
        // }
    }
    &.about{
        background-image: linear-gradient(#DAF100, #B3EB4B, #87E5A2, #64E1E7);
        .losange, .fancy-line{
            background: $yellow;
        }
        // a:hover, a.current{
        //     color: darken($yellow, $dark);
        // }
    }
    &.contact{
        background-image: linear-gradient(#EC4056, #E48434, #DEC117, #DAF100);
        .losange, .fancy-line{
            background: $red;
        }
        // a:hover, a.current{
        //     color: darken($red, $dark);
        // }
    }
}
