body{
    background-repeat: no-repeat;
    background-attachment: fixed;

    &.home{
        // background-size: 100% 100%;
        // background-position: 0% 30%;
        background-image: linear-gradient(to bottom, $purple, $turquoise, $yellow, $red);
    }
    &.projects, &.project{
        // background-size: 100% 250%;
        // background-position: 0 70%;
        background-image: linear-gradient($turquoise, $blue, $indigo, $purple);
        .losange, .fancy-line{
            background: $turquoise;
        }
        // a:hover, a.current{
        //     color: darken($turquoise, $dark);
        // }

        section{
            background: $lightest-grey;
            // background: rgba($turquoise, 0.15);
        }
        p a{
            color: darken($turquoise, 35);
            &:hover{
                color: $link-hover;
            }
        }
    }
    &.skills{
        background-image: linear-gradient($purple, $fushia, $pink, $red);
        .losange, .fancy-line{
            background: $purple;
        }
        // a:hover, a.current{
        //     color: darken($purple, $dark);
        // }
    }
    &.about{
        background-image: linear-gradient($yellow, $grass, $green, $turquoise);
        .losange, .fancy-line{
            background: $yellow;
        }
        // a:hover, a.current{
        //     color: darken($yellow, $dark);
        // }
        p a{
            color: darken($yellow, 25);
            &:hover{
                color: $link-hover;
            }
        }
    }
    &.contact{
        background-image: linear-gradient($red, $orange, $gold, $yellow);
        .losange, .fancy-line{
            background: $red;
        }
        // a:hover, a.current{
        //     color: darken($red, $dark);
        // }
    }
}


.purple-bg{
    background-color: $purple;
}
.indigo-bg{
    background-color: $indigo;
}
.blue-bg{
    background-color: $blue;
}
.turquoise-bg{
    background-color: $turquoise;
}
.green-bg{
    background-color: $green;
}
.grass-bg{
    background-color: $grass;
}
.yellow-bg{
    background-color: $yellow;
}
.gold-bg{
    background-color: $gold;
}
.orange-bg{
    background-color: $orange;
}
.red-bg{
    background-color: $red;
}
.pink-bg{
    background-color: $pink;
}
.fushia-bg{
    background-color: $fushia;
}


.purple-c{
    color: $purple;
}
.indigo-c{
    color: $indigo;
}
.blue-c{
    color: $blue;
}
.turquoise-c{
    color: $turquoise;
}
.green-c{
    color: $green;
}
.grass-c{
    color: $grass;
}
.yellow-c{
    color: $yellow;
}
.gold-c{
    color: $gold;
}
.orange-c{
    color: $orange;
}
.red-c{
    color: $red;
}
.pink-c{
    color: $pink;
}
.fushia-c{
    color: $fushia;
}
