
.logo{
    display: block;
    position: relative;
    z-index: 100;
    width: 40px;
    cursor: pointer;
    transform: scale(1);
    transition: all, 0.5s;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;

    .st0, .st1, .st2, .st3{
        fill:none;
        stroke-width:15;
        stroke-linejoin:round;
        stroke-miterlimit:10;
    }
    .st0{
        stroke:$yellow;
    }
    .st1{
        stroke:$purple;
    }
    .st2{
        stroke:$red;
    }
    .st3{
        stroke:$turquoise;
    }

    &:hover{
        transform: scale(1.2);
    }
}



.logo-img{
    display: block;
}

@media all and (max-width: $mobile){
    .logo{
        width: 30px;
    }
}
