body{
    //font-family: "Futura", "sans-serif";
    font-family: futura-pt, sans-serif;
    color: $main-text;
}

h1, h2, h3, h4, h5{
    font-family: futura-pt-bold, sans-serif;
}


h1{
    font-size: 74px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 6vh;
}

h2{
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 5px;
}

h3.project-desc{
    margin: 25px auto 100px;
    font-size: 35px;
    letter-spacing: 3px;
    line-height: 55px;
    text-align: center;
    color: $medium-grey;
}
h4{
    font-family: futura-pt, sans-serif;
    margin: 45px auto 20px;
    font-size: 27px;
    letter-spacing: 3px;
    line-height: 42px;
    color: $medium-grey;
}
h5{
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $main-text;
}


figcaption{
    margin: auto;
    max-width: $max-image-w;
    padding: 17px 20px 0;
    text-align: right;
    font-family: futura-pt, sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    color: $medium-grey;
    background: $page-color;
}
.media figcaption{
    padding-right: 0;
    padding-left: 0;
}

p, span, article a, article li{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
}

article a{
    //attention cards
}


.content-area {
    ul{
        margin: 15px 15px 20px;
    }
    li:before{
        content: "◆";
        font-size: 14px;
        float: left;
        line-height: 30px;
        margin-right: 8px;
    }
    p{
        margin: 30px 0;
    }
}


@media all and (max-width: $tablet){

    body{


        h1{
            font-size: 60px;
        }
        h2{
            font-size: 43px;
            letter-spacing: 3px;
            line-height: 60px;
            text-align: center;
        }

        p, p a, span, article a, article li{
            font-size: 16px;
            letter-spacing: 1px;
            line-height: 28px;
        }
        .content-area {
            li{
                line-height: 30px;
            }
            li:before{
                font-size: 14px;
                line-height: 30px;
            }
        }
    }
}




@media all and (max-width: $mobile){
    body{
        h3.project-desc{
            margin: 25px auto 70px;
            font-size: 27px;
            letter-spacing: 2px;
            line-height: 50px;
        }
        h4{
            font-size: 22px;
            line-height: 32px;
        }
    }
}
