body{
    //font-family: "Futura", "sans-serif";
    font-family: futura-pt, sans-serif;
    color: $main-text;
}

h1, h2, h3, h4, h5{
    font-family: futura-pt-bold, sans-serif;
}


h1{
    font-size: 74px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 6vh;
}

h2{
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 5px;
}

.card {
    h3{
        font-family: futura-pt, sans-serif;
        font-size: 18px;
        letter-spacing: 5px;
        line-height: 25px;
        text-align: left;
    }
    label{
        font-family: futura-pt, sans-serif;
        font-size: 13px;
        letter-spacing: 2px;
        text-align: right;
    }
}


nav, .nav{
    a{
        font-size: 24px;
        letter-spacing: 2px;
    }
}

nav.main-nav{
    a{
        font-size: 22px;
        letter-spacing: 3px;
    }
}

nav.links{
    h5{
        font-family: futura-pt, sans-serif;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        letter-spacing: 4px;
        text-transform: capitalize;
    }
}

.cross {
    font-size: 90px;
    font-weight: 100;
    font-family: futura-pt, sans-serif;
    &:after {
        content: "+";
    }
}


p, span, article a{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
}
article a{
    //attention cards
}


@media all and (max-width: $tablet){

    body{


        h1{
            font-size: 60px;
        }
        h2{
            font-size: 43px;
            letter-spacing: 3px;
            line-height: 60px;
            text-align: center;
        }

        nav, .nav{
            a{
                font-size: 20px;
            }
        }

        nav.main-nav{
            a{
                font-size: 35px;
                letter-spacing: 12px;
            }
        }

        p{
            font-size: 16px;
            letter-spacing: 1px;
            line-height: 28px;
        }
    }
}


@media all and (max-width: $tablet){

    body{

        nav.main-nav{
            a{
                font-size: 30px;
                letter-spacing: 6px;
            }
        }

        .cross {
            font-size: 80px;
            &:after {
                content: "+";
            }
        }

    }
}

@media all and (max-width: $mobile){

    body{

        .card {
            h3{
                font-size: 16px;
                letter-spacing: 4px;
                line-height: 20px;
            }
            label{
                font-size: 13px;
                letter-spacing: 2px;
            }
        }
    }
}
