[class^='align-'], [class*=' align-']{

    display: flex;

    //x-pos
    &.x{
        &-fs{
            justify-content: flex-start;
        }
        &-fe{
            justify-content: flex-end;
        }
        &-sb{
            justify-content: space-between;
        }
        &-sa{
            justify-content: space-around;
        }
        &-c{
            justify-content: center;
        }
    }

    //y-pos
    &.y{
        &-fs{
            align-items: flex-start;
        }
        &-fe{
            align-items: flex-end;
        }
        &-sb{
            align-items: space-between;
        }
        &-sa{
            align-items: space-around;
        }
        &-c{
            align-items: center;
        }
    }
}

//first class-name contained,  class-name contained


.two-cols{
    display: flex;
    margin: 30px 0;
    p{
        margin: 0!important;
    }
    .media{
        flex-shrink: 0;
        margin: 10px 0;
    }
    &.left{
        p{
            margin-right: 50px!important;
        }
    }
    &.right{
        p{
            margin-left: 50px!important;
        }
    }
}



// .half{
//     width: 50%;
// }
// .left{
//     float: left;
// }
// .right{
//     float: right;
// }
// .o-hd{
//     overflow: hidden;
// }



@media all and (max-width: $mobile){
    body{
        .no-mobile{
            display: none;
        }
    }
}
