$border: 5px;
$trapezoid: 50px;

$max-w: 1080px;
$max-w-read: 700px;

$fancy-gap: 200px;

////// COLORS

$dark: 20;

$main-text: #333;

$page-color: #FFF;


$purple: #994AFC;
$indigo: #8580F4;
$blue: #74B1ED;

$turquoise: #64E1E7;
$green: #87E5A2;
$grass: #B3EB4B;

$yellow: #DAF100;
$gold: #DEC117;
$orange: #E48434;

$red: #EC4056;
$pink: #D0438D;
$fushia: #B446C4;
