
////// @MEDIAQUERIES


/// 810 -> content 700
/// 809 -> resize content 699 -> MF MQ


$large-screen: 1280px;
$under-margin: 1189px;

$tablet: 1024px;
$tablet-mf: 1025px;
$small-tablet: 850px;
$mobile: 576px;
$mobile-mf: 577px;



$max-w-tablet: 720px;
$trapezoid-s: 30px;
