$images-path: "/assets/images/";
$icons-path: "/assets/images/icons/";



$border: 5px;
$trapezoid: 50px;

$max-w: 1080px;
$max-w-read: 700px;

$fancy-gap: 200px;


$disc: 1500px;
$disc-mobile: 1100px;

$cross-size: 10px;
$cross-larg: 3px;

$card-padding: 20px;

////// COLORS

$dark: 20;

$main-text: #333;
$medium-grey: #777;
$light-grey: #BBB;
$lightest-grey: #f5f5f5;

$link-hover: $light-grey;

$page-color: #FFF;


$purple: #994AFC;
$indigo: #8580F4;
$blue: #74B1ED;

$turquoise: #64E1E7;
$green: #87E5A2;
$grass: #B3EB4B;

$yellow: #DAF100;
$gold: #DEC117;
$orange: #E48434;

$red: #EC4056;
$pink: #D0438D;
$fushia: #B446C4;
