
////  ATTENTION MOBILE FIRST
////  0 to 576

.cross {
    position: absolute;
    top: -10px;
    right: 11px;
    transform: rotate(45deg);
    display: none;
    opacity: 0;
    cursor: pointer;
    z-index: 9;
}

.nav-desktop{
    display: none;
}

.nav-mobile{
    padding: 15px 0px;
    width: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: $border;
    right: $border;
    z-index: 99;
    &:after{
        content: "";
        display: block;
        background: $page-color;
        position: absolute;

        top: 3px;
        width: 55px;
        height: 55px;
        border-radius: 55px;
    }
    .nav-items{
        display: none;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        justify-content: center;
        position: fixed;
        width: 50%;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        padding-top: 0;
    }
    li{
        margin: 30px 0;
        opacity: 0;
    }
    a{
        font-size: 30px;
        letter-spacing: 6px;
    }
}

.overlay{
    position: fixed;
    top: -900px;
    right: -900px;
    width: $disc-mobile;
    height: $disc-mobile;
    border-radius: $disc-mobile;

    z-index: 98;
    background: $page-color;
    box-shadow: -1px 3px 4px 3px  rgba(black, 0.1);
    display: none;
}



/// 577 to 1024

@media all and (min-width: $mobile-mf){

    body.desktop{
        overflow: auto!important;
    }

    body{
        .cross {
            top: 4px;
            right: 26px;
        }

        .nav-mobile{
            padding: 25px 0px;
            width: 95px;
            .logo{
                top: -2px;
                left: 0px;
            }
            &:after{
                top: 10px;
            }
        }
        .overlay{
            top: -1300px;
            right: -1300px;
            width: $disc;
            height: $disc;
            border-radius: $disc;
        }
    }

}




/// 1025 & more

@media all and (min-width: $tablet-mf){

    body{

        .nav-mobile, .overlay{
            display: none!important;
        }

        .nav-desktop{
            padding: 40px;
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            top: $border;
            right: $border;
            z-index: 99;
            .logo{
                width: 40px;
            }
            &:after{
                content: "";
                display: block;
                background: $page-color;
                position: absolute;

                top: 24px;
                width: 70px;
                height: 70px;
                border-radius: 70px;
            }
            .nav-items{

                display: flex;
                justify-content: space-between;
                margin: -60px 0 20px;
                padding-top: 80px;
                height: 0;
                width: auto;
                position: static;


                flex-direction: column;
                align-items: center;
                overflow: hidden;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
            li{
                margin: 25px 0;
                opacity: 0;
            }
            a{
                font-size: 22px;
                letter-spacing: 3px;
            }
        }

    }
}
