
a{
    transition: color, 0.5s;
}
a:hover, a.current {
    color: $link-hover;
}


nav, .nav{
    a{
        font-size: 24px;
        letter-spacing: 2px;
    }
}

@media all and (max-width: $tablet){
    body{
        nav, .nav{
            a{
                font-size: 20px;
            }
        }
    }
}
