

nav.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;
    width: 45%;
    max-width: 500px;
    margin-left: -10px;

    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 46px;
        height: 46px;
        margin: 10px;
        border-radius: 50%;

        &:before{
            content: "";
            display: block;
            position: absolute;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            background: #FFF;
        }

        &.linkedin{
            background-image: linear-gradient($yellow, $turquoise);
        }
        &.github{
            background-image: linear-gradient($turquoise, $yellow);
        }
        &.codepen{
            background-image: linear-gradient($turquoise, $purple);
        }
        &.behance{
            background-image: linear-gradient($purple, $turquoise);
        }
        &.dribbble{
            background-image: linear-gradient($yellow, $red);
        }
        &.malt{
            background-image: linear-gradient($red, $yellow);
        }
        img{
            width: 40px;
            height: 40px;
            position: relative;
            z-index: 1;
        }
    }

    h5{
        display: none;
    }

}

@media all and (max-width: $tablet){

     body{
         nav.links{
             width: auto;
             justify-content: space-around;
             margin: 8vh auto 4vh;
        }
     }
}

@media all and (max-width: $mobile){

    body{
        nav.links{
            max-width: 90%;
       }

    }
}
