

nav.links{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0;
    width: 45%;
    max-width: 500px;
    margin: 60px auto 30px;

    h5{
        position: absolute;
        width: 100%;
        top: 100%;
        color: $link-hover;
        opacity: 0;
        transition: opacity, 0.5S;
    }
}

nav.links a:hover{
    &+h5{
        opacity: 1;
    }
}

.home-content nav.links{
    justify-content: space-between;
}


@media all and (max-width: $tablet){

     body{
         .home-content nav.links{
             width: auto;
             justify-content: space-around;
             margin: 8vh auto 4vh;
        }
     }
}

@media all and (max-width: $mobile){

    body{
        .home-content nav.links{
            max-width: 90%;
       }

    }
}
