<!doctype html>
<html>

{% include head.html %}

<body class="projects {{ page.name }}">

	<div class="page-wrapper">
		<div class="trapezoid"></div>
		<div class="white-bg"></div>

		{% include main-navigation.html %}

		<div class="main">
            <div class="page">

				<div class="heading">
					<div class="title-box">
						<div class="losange-box">
							<div class="losange"></div>
						</div>
						<h2>{{ page.title | capitalize }}</h2>
					</div>
					<div class="fancy-line"></div>
				</div>

				<div class="content">
                    <div class="">
                        <h4> Type de projet: <small>{{ page.type | capitalize }}</small></h4>
                        <h5>{{ page.compagny | capitalize }}</h5>
                    </div>
					{{ content }}
				</div>

            </div>
        </div>
	</div>

{% include scripts.html %}

</body>

</html>
