<!doctype html>
<html>

{% include head.html %}

<body class="projects {{ page.ref }}">

	<div class="page-wrapper">
		<div class="trapezoid"></div>
		<div class="white-bg"></div>

		{% include main-navigation.html %}

		<div class="main">
            <div class="page">

				<div class="heading">
					<div class="title-box">
						<div class="losange-box">
							<div class="losange"></div>
						</div>
						<h2>{{ page.title | capitalize }}</h2>
					</div>
					<div class="fancy-line"></div>
				</div>

				<div class="content">
                    <article>

						<h3 class="project-desc">
							{{ page.description }}
						</h3>


						<div class="prez-card">

							<div class="prez-top">
								<div class="">
									<div class="prez-cat">
										<h5>Type</h5>
										<span>{{ page.type }}</span>
									</div>
									<div class="prez-cat">
										<h5>Devices</h5>
										<span>{{ page.devices }}</span>
									</div>
								</div>
								<div class="">
									<div class="prez-cat">
										<h5>Release</h5>
										<span>{{ page.release }}</span>
									</div>
									<div class="prez-cat">
										<h5>Company</h5>
										<span>{{ page.company }}</span>
									</div>
								</div>
							</div>


							<div class="prez-bottom">
								<div class="prez-cat">
									<h5>Roles</h5>
									<ul>
									  {% for item in page.roles %}
										<li>{{ item }}</li>
									  {% endfor %}
									</ul>
								</div>
								<div class="prez-cat">
									<h5>Tools</h5>
									<ul>
									  {% for item in page.tools %}
										<li>{{ item }}</li>
									  {% endfor %}
									</ul>
								</div>
							</div>
						</div>

                    </article>
					<div class="content-area">
						{{ content }}
					</div>
				</div>

				{% include navigation-links.html %}

            </div>
			{% include back.html %}
        </div>
	</div>

{% include scripts.html %}

</body>

</html>
